body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  .rgbForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  label {
    display: inline-block;
    width: 50px;
    text-align: right;
    margin-right: 10px;
    margin-left: 10px
  }
  
  input[type="number"] {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  input[type="number"]:last-child {
    margin-right: 0;
  }
  
  button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #result {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  
  #preview {
    margin-top: 20px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
  }
  
  #copy-button {
    display: none;
    margin: 0px 10px;
  }